<div class="flex justify-center items-center bg-gray-100 ">
  <div class="bg-white rounded-2xl shadow-lg p-8 w-full max-w-md">
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
      <%= task.new_record? ? "Create New Task" : "Edit Task" %>
    </h1>

    <%= form_with(model: task, class: "space-y-5") do |form| %>

      <% if task.errors.any? %>
        <div class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4 rounded-md">
          <h2 class="font-semibold mb-2">
            <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
          </h2>
          <ul class="list-disc ml-5 text-sm">
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- Title Field -->
      <div class="flex justify-center items-center gap-4 w-80">
        <%= form.label :title, class: " text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :title, class: "border border-2 focus:border-blue-200 w-40 ml-5 rounded-md border-gray-300 shadow-sm focus:ring-amber-400 focus:border-amber-400 p-2" %>
      </div>

      <!-- Description Field -->
          <div class="flex justify-center items-center gap-4 w-80">
        <%= form.label :description, class: " text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :description ,class:"border border-2 focus:border-blue-200 w-full ml-5 rounded-md border-gray-300 shadow-sm focus:ring-amber-400 p-2"%>
      </div>

      <!-- Status Dropdown -->
          <div class="flex justify-center items-center gap-4 w-80">
        <%= form.label :status, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.select :status, Task.statuses.keys, {}, class: "border border-2 focus:border-blue-200 w-40 ml-5 rounded-md border-gray-300 shadow-sm focus:ring-amber-400 focus:border-amber-400 p-2 bg-white" %>
      </div>

      <!-- Priority Dropdown -->
          <div class="flex justify-center items-center gap-4 w-80">
        <%= form.label :priority, class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.select :priority, Task.priorities.keys, {}, class: "border border-2 focus:border-blue-200 w-40 ml-5 rounded-md border-gray-300 shadow-sm focus:ring-amber-400 focus:border-amber-400 p-2 bg-white" %>
      </div>

      <!-- Submit Button -->
      <div>
        <%= form.submit class: "w-full bg-amber-500 hover:bg-amber-600 text-white font-semibold py-2 rounded-md transition duration-200 shadow-sm cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
